# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
*.egg

# FastAPI
*.db
*.sqlite3
instance/
.webassets-cache

# Pydantic
*.json

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
*.log

.env

coverage.*
.coverage

notebooks/*
